@model IEnumerable<BlueLghtConferenceCenter.Models.Venue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")

  @using (Html.BeginForm())
  {
  <p>
    Title: @Html.TextBox("venueNameSearch") <br />
    <input type="submit" value="Filter" />
  </p>
  }
  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacityStanding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacitySeated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Archive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VenueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapacityStanding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapacitySeated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Archive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VenueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VenueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VenueID })
        </td>
    </tr>
}

</table>
